<form class="well" [formGroup]="zipCodeForm">
  <h2>Enter a zipcode:</h2>
  <input type="text" placeholder="Zipcode" class="form-control" formControlName="zipCode" />
  <app-typehead formControlName="country">
    <input type="text" placeholder="Country" class="form-control" #searchInput />
    <ng-container *ngFor="let country of filteredCountries">
      <ng-container *appTypeHeadOption="country; value: country.code; fieldDisplay: country.name">
        <span [innerHTML]="country.name | hightLight: searchInput.value"></span>
      </ng-container>
    </ng-container>
  </app-typehead>
  <br>
  <app-button-three-state [clickAction]="addLocation.bind(this)" [reInitiallyDelay]="2000"
                          [disabled]="zipCodeForm.invalid">
    <ng-container initial>
      Add Location
    </ng-container>
    <ng-container loading>
      Adding...
    </ng-container>
    <ng-container done>
      Added
    </ng-container>
  </app-button-three-state>
</form>